//・・・・・・・・・・・・leaflet navi・・・・・・・・・・・・・//

.leaflet-control-window-wrapper{
    display: none;
    opacity: 0;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nonmodal{
    z-index: 6000;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7000;
    background-color: rgba(0, 0, 0, 0.7);
}

.visible {
    display: block;
    opacity: 1;
}

.leaflet-control-window{
    position: absolute;
    z-index: 2000;
    border-radius: 2px;
    margin: 8px;

    /** BOX SHADOW **/
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
}

.control-window{
    background-color: #ffffff;
    color: #353535;
    font: 14px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}


.leaflet-control-window .titlebar{
    min-height: 38px;
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    padding: 10px 45px 10px 10px;
}

.leaflet-control-window .close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 28px;
    height: 28px;
    border-radius: 40%;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    cursor: pointer;
    z-index:30;

    background-color: rgba(0, 0, 0, 0.40);
    transition-property: background;
    transition-duration: 0.2s;
    transition-timing-function: linear;


    color: #e4e4e4;
    font-size: 22pt;
    text-align: center;
    line-height: 0.9em;
}

.leaflet-control-window .close:hover {
    background-color: rgba(0, 0, 0, 0.65);
}

.leaflet-control-window .content{
    padding: 8px;
    margin-top: -10px;
    z-index:29;
    overflow: auto;
}

.leaflet-control-window .promptButtons{
    text-align: right;
    padding: 16px;
}

.leaflet-control-window button{
    position: relative;
    display: inline-block;
    background-color: transparent;
    color: inherit;

    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;

    cursor:pointer;
    font-size: medium;
    font-weight: bold;
    text-decoration:none;
    text-align: center;
    vertical-align: middle;
    border: 0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 8px;
    margin: 12px 8px 0 8px;
}

.leaflet-control-window button:focus {
    outline:0;
}

.leaflet-control-window button:hover {
    opacity: 1;
}
.disabled{
	opacity: .5;
	pointer-events:none;
}

//・・・・・・・・・・・・leaflet navi・・・・・・・・・・・・・//


//・・・・・・・・・・・・leaflet toolbar・・・・・・・・・・・・・//
// L.Layer was introduced in Leaflet 1.0 and is not present in earlier releases.
window.L.Toolbar2 = (L.Layer || L.Class).extend({
	statics: {
		baseClass: 'leaflet-toolbar'
	},

	options: {
		className: '',
		filter: function() { return true; },
		actions: []
	},

	initialize: function(options) {
		L.setOptions(this, options);
		this._toolbar_type = this.constructor._toolbar_class_id;
	},

	addTo: function(map) {
		this._arguments = [].slice.call(arguments);

		map.addLayer(this);

		return this;
	},

	onAdd: function(map) {
		var currentToolbar = map._toolbars[this._toolbar_type];

		if (this._calculateDepth() === 0) {
			if (currentToolbar) { map.removeLayer(currentToolbar); }
			map._toolbars[this._toolbar_type] = this;
		}
	},

	onRemove: function(map) {
		/* 
		 * TODO: Cleanup event listeners. 
		 * For some reason, this throws:
		 * "Uncaught TypeError: Cannot read property 'dragging' of null"
		 * on this._marker when a toolbar icon is clicked.
		 */
		// for (var i = 0, l = this._disabledEvents.length; i < l; i++) {
		// 	L.DomEvent.off(this._ul, this._disabledEvents[i], L.DomEvent.stopPropagation);
		// }

		if (this._calculateDepth() === 0) {
			delete map._toolbars[this._toolbar_type];
		}
	},

	appendToContainer: function(container) {
		var baseClass = this.constructor.baseClass + '-' + this._calculateDepth(),
			className = baseClass + ' ' + this.options.className,
			Action, action,
			i, j, l, m;

		this._container = container;
		this._ul = L.DomUtil.create('ul', className, container);

		// Ensure that clicks, drags, etc. don't bubble up to the map.
		// These are the map events that the L.Draw.Polyline handler listens for.
		// Note that L.Draw.Polyline listens to 'mouseup', not 'mousedown', but
		// if only 'mouseup' is silenced, then the map gets stuck in a halfway
		// state because it receives a 'mousedown' event and is waiting for the
		// corresponding 'mouseup' event.
		this._disabledEvents = [
			'click', 'mousemove', 'dblclick',
			'mousedown', 'mouseup', 'touchstart'
		];

		for (j = 0, m = this._disabledEvents.length; j < m; j++) {
			L.DomEvent.on(this._ul, this._disabledEvents[j], L.DomEvent.stopPropagation);
		}

		/* Instantiate each toolbar action and add its corresponding toolbar icon. */
		for (i = 0, l = this.options.actions.length; i < l; i++) {
			Action = this._getActionConstructor(this.options.actions[i]);

			action = new Action();
			action._createIcon(this, this._ul, this._arguments);
		}
	},

	_getActionConstructor: function(Action) {
		var args = this._arguments,
			toolbar = this;

		return Action.extend({
			initialize: function() {
				Action.prototype.initialize.apply(this, args);
			},
			enable: function(e) {
				/* Ensure that only one action in a toolbar will be active at a time. */
				if (toolbar._active) { toolbar._active.disable(); }
				toolbar._active = this;

				Action.prototype.enable.call(this, e);
			}
		});
	},

	/* Used to hide subToolbars without removing them from the map. */
	_hide: function() {
		this._ul.style.display = 'none';
	},

	/* Used to show subToolbars without removing them from the map. */
	_show: function() {
		this._ul.style.display = 'block';
	},

	_calculateDepth: function() {
		var depth = 0,
			toolbar = this.parentToolbar;

		while (toolbar) {
			depth += 1;
			toolbar = toolbar.parentToolbar;
		}

		return depth;
	}
});

// L.Mixin.Events is replaced by L.Evented in Leaflet 1.0. L.Layer (also
// introduced in Leaflet 1.0) inherits from L.Evented, so if L.Layer is
// present, then L.Toolbar2 will already support events.
if (!L.Evented) {
    L.Toolbar2.include(L.Mixin.Events);
}

L.toolbar = {};

var toolbar_class_id = 0;

L.Toolbar2.extend = function extend(props) {
	var statics = L.extend({}, props.statics, {
		"_toolbar_class_id": toolbar_class_id
	});

	toolbar_class_id += 1;
	L.extend(props, { statics: statics });

	return L.Class.extend.call(this, props);
};

L.Map.addInitHook(function() {
	this._toolbars = {};
});
//・・・・・・・・・・・・leaflet toolbar・・・・・・・・・・・・・//
